################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WiredBrainCoffee.CustomerApp/obj
*.user
